body {
  background-color: white;
}

.battle {
  .wrapper-field {
    position: relative;
    width: 100%;

    canvas {
      bottom: 0;
      height: 100%;
      position: absolute;
      left: 0;
      max-height: 768px;
      max-width: 768px;
      right: 0;
      top: 0;
      width: 100%;
    }
  }

  .wrapper-field:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}
