body {
  background-color: #202020;
}

.battle {
  .wrapper-field {
    position: relative;
    width: 100%;

    #field {
      bottom: 0;
      cursor: hand;
      height: 100%;
      position: absolute;
      left: 0;
      max-height: 768px;
      max-width: 768px;
      right: 0;
      top: 0;
      width: 100%;
    }

    // TODO: ここは画像を用意する
    #field.grabbing {
      cursor:-moz-grabbing;
      cursor:-webkit-grabbing;
    }

    #field.grabbable {
      cursor:-moz-grab;
      cursor:-webkit-grab;
    }

    #back-field {
      display: none;
    };
  }

  .wrapper-field:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}
