extends layout

block content
  div(class="jumbotron text-center")
    h1 宇宙囲碁／SpaceGo
  div.container.battle
    div.row
      div.col-md-9
        div.wrapper-field
          canvas#field(width="768", height="768")
          canvas#back-field(width="768", height="768")


