doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    // ブラウザの自動リロード用
    script.
      // TODO: document.write使わずに書けないか？
      // TODO: リリース時には含めないようにする。
      document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +':35729/livereload.js"></' + 'script>')
    block content

